<div class="image-cataolog-2">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8 pr-0">
        <div class="catalog-2image-wrapper">
          <a href="{{ section.settings.link }}">
            <img src="{{ section.settings.img | img_url:'' }}" alt="">
          </a>
        </div>
      </div>
      <div class="col-md-4 pl-0">
        <div class="catalog-2image-wrapper">
          <a href="{{ section.settings.link2 }}">
            <img src="{{ section.settings.img-02 | img_url:'' }}" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Image Catalog 2",
  "class": "iamge-catalog",
  "settings": [
    {
      "type": "image_picker",
      "id": "img",
      "label": "Select your big Image here"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Connect the link"
    },
    {
      "type": "image_picker",
      "id": "img-02",
      "label": "Small image here"
    },
    {
      "type": "url",
      "id": "link2",
      "label": "Connect the link"
    }
  ],

  "presets": [
    {
      "name": "Image Catalog 2"
    }
  ]
}
{% endschema %}

<style>
  .pr-0{
      padding-right: 0;
  }
  .pl-0{
      padding-left: 0;
  }
  .catalog-2image-wrapper img {
    width: 100%;
  }
  .catalog-2image-wrapper{
   margin:20px 0;

  }


  @media only screen and (max-width: 600px) {
    .catalog-2image-wrapper{
      margin:10px 0;

  }
</style>
