@media only screen and (min-width: 750px)
.product__title > h1 {
    font-size: calc(var(--font-heading-scale) * 2rem) !important;
}

.footer-block__newsletter {
  max-width: 450px;
}

.shopify-policy__container {
  max-width: 1140px !important;
}